image: maven:3-jdk-11

stages:
  - build
  - test
  - quality
  - release
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"
  DOCKER_IMAGE: "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .m2/repository/

build:
  stage: build
  script:
    - mvn -B clean compile
  artifacts:
    paths:
      - target/

unit-test:
  stage: test
  script:
    - mvn -B test
  artifacts:
    paths:
      - target/surefire-reports/

sonar:
  stage: quality
  cache:
    policy: pull-push
    key: "sonar-cache-$CI_COMMIT_REF_SLUG"
    paths:
      - "${SONAR_USER_HOME}/cache"
      - sonar-scanner/
  script:
    - mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
  allow_failure: true
  rules:
    - if: $CI_COMMIT_BRANCH == 'main'
    - if: $CI_COMMIT_TAG

release:
  stage: release
  image: node:20
  cache:
    key: "npm-$CI_COMMIT_REF_SLUG"
    paths:
      - node_modules/
  before_script:
    - npm install
  script:
    - npx semantic-release
  variables:
    GITLAB_TOKEN: $SEMANTIC_RELEASE_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: on_success

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build -t "$CI_REGISTRY_IMAGE:${CI_COMMIT_TAG}" -t "$CI_REGISTRY_IMAGE:latest" .
    - docker push "$CI_REGISTRY_IMAGE:${CI_COMMIT_TAG}"
    - docker push "$CI_REGISTRY_IMAGE:latest"
  rules:
    - if: $CI_COMMIT_TAG
